<div draggable="true" class="card dragarea {{isDrop?'droparea': ''}}">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center" style="font-size: 1.25rem">
                <p class="card-text">
                    <a href="javascript:void(0)" (click)="file.click()">
                        Click to browse
                    </a>
                    <span>Or Drag & Drop to upload your files</span>
                </p>
                <input type="file" #file [multiple]="(maxFiles > 1)" (change)="changeFiles($event)"
                    style="display:none" />
            </div>
        </div>
    </div>
</div>
<div class="row error" *ngIf="errors.length > 0">
    <ul>
        <li *ngFor="let err of errors">{{err}}</li>
    </ul>
</div>