<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BillAcceptorPort" value="COM9"/>
    <add key="RabbitMqServerIp" value="localhost"/>
    <add key="MachineAdminBackendUrl" value="http://localhost:22742"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>