<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
     
      <a class="navbar-brand" [routerLink]='["/"]'>
        <img src="/assets/images/konbini.png" width="50" style="margin-top:-12px">
        Magic Box
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow" (click)="collapse()">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-light" [routerLink]='["/"]'><i class="fa fa-home  nav-icon"></i> Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/topup"]'><i class="fa fa-cart-plus  nav-icon"></i> Topup</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/product"]'><i class="fa fa-archive  nav-icon"></i> Product</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/diagnostic"]'><i class="fa fa-cog  nav-icon"></i> Diagnostic</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
