<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <div style="height:80px;"> 
         <img src="../assets/images/logo.png" style="max-height:auto; width:100%;" alt="Konbini Loggo">
        </div>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #424242;">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>