
<style>
  .btn {
    width: 120px;
    padding-bottom: 10px;
  }
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: gray;
  }
  .col-sm {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
</style>

<div>

  <div class="col-sm"> 
    <div class="alert alert-info" role="alert">
      <span style="font-weight: bold">1. Open the door and put items inside.</span>   
    </div>
    <span style="font-size: 15pt">Total items:<span style="color: orange; font-weight: bold"> {{totalTag}} </span></span>
    <button type="button" class="btn btn-success float-right" (click)="OpenLock()">Open Door</button>

  </div>
  <br />
  <div class="col-sm">
    <div class="alert alert-info" role="alert">
      <span style="font-weight: bold">2. Select product to register.</span>   
    </div>
    <div class="form-group row">
      <label for="productName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <select [(ngModel)]="selectedProduct" class="form-control" (change)="selected()" id="UserSelector"  [disabled]="!(totalTag > 0)"  style="width: 100%;">
          <option *ngFor="let product of products" [ngValue]="product">{{product.productName}}</option>
        </select>

      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-3">
        <input *ngIf="selectedProduct" [(ngModel)]="selectedPrice" [disabled]="!(totalTag > 0)"  type="text" class="form-control" id="price" value="{{selectedProduct.price}}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="button" [disabled]="!selectedProduct || processing || (totalTag <= 0) || !(selectedProduct.id > 0)" class="btn btn-primary float-right" (click)="insertInventory()">Register</button>
      </div>
    </div>
   
  </div>
  <div class="col-sm" style="margin-top: 50px">
    <div class="alert alert-info" role="alert">
      <span style="font-weight: bold">Unregistered items.</span>
    </div>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th>Tag Id</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tag of tags">
        <td>{{ tag.Id }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  
</div>



<!--<h1 *ngIf="selectedProduct">You selected: {{selectedProduct.id}}</h1>-->
