<div class="device-detail row">
    <div class="device-property col-sm-6">
        <h5>Device detail</h5>
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id='name' class="form-control" placeholder="Device Name" [(ngModel)]="device.name" />
        </div>
        <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" class="form-control" placeholder="Device Code" [(ngModel)]="device.code" />
        </div>
        <div class="form-group">
            <label for="port">Port:</label>
            <input type="text" id="port" class="form-control" placeholder="Device Port" [(ngModel)]="device.port" />
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <span type="text" id="status" class="form-control" [ngClass]="{'device-normal':device.status == 'Normal','device-abnormal': device.status == 'Abnormal'}" >{{device.status}}</span>
        </div>
    </div>

    <div class="device-custom-prop col-sm-6">
        <h5>Other attributes</h5>
        <div class="form-group" *ngFor="let item of device.CustonInfoes">
            <label for="csutom">{{item.Property}}: </label>
            <input type="text" id='csutom' class="form-control" [(ngModel)]="item.Value" />
        </div>
    </div>
</div>