<div class="modal fade" bsModal #changeProductModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form  #editLoadoutForm="ngForm" id="frm_edit_loadout" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">{{l("Assign Product")}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="changeProductModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editInventory">
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col col-sm-4">
                            <img src="{{selectedProduct.imageUrl != null && selectedProduct.imageUrl != ''? baseRemoteUrl + '/images/thumb_' +selectedProduct.imageUrl : '/assets/images/no-image.png'}}"
                                 style="height:140px;max-width:140px;">
                        </div>
                        <div class="col col-sm-8">
                            <div class="form-group">
                                <div class="input-group ">
                                    <select name="product" class="form-control" [(ngModel)]="productId" (ngModelChange)="onSelectProductChange()">
                                        <option value="">--Select Product--</option>
                                        <option *ngFor="let product of products" [ngValue]="product.id">{{product.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>SKU:&nbsp;</label>{{selectedProduct.sku}}
                            </div>
                            <div class="form-group">
                                <label>Price:&nbsp;</label>{{selectedProduct.id == undefined ? '' : currencySymbol}}{{selectedProduct.price}}
                            </div>
                            <div class="m-checkbox-list">
                                <label for="updateSlotsPrice" class="m-checkbox">
                                    <input id="updateSlotsPrice" type="checkbox" name="updateSlotsPrice" [(ngModel)]="updateSlotsPrice">
                                    {{l("Update Slots Price")}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngFor="let listItem of loadout.loadoutList" style="display: block;
                                                                                        position: relative;
                                                                                        margin-top: 20px;
                                                                                        margin-bottom: 30px;">
                        <div class="m-checkbox-list"
                         style="position: absolute;
                                top: -10px;
                                left: 10px;
                                background: white;
                                padding-left: 5px;
                                padding-right: 5px;">
                            <label for="{{listItem.index}}" class="m-checkbox">
                                <input id="{{listItem.index}}" type="checkbox" name="{{listItem.index}}" [(ngModel)]="listItem.checkAll" (change)="checkAllChange(listItem)">
                                Check All
                                <span></span>
                            </label>
                        </div>
                        <div style="border: 1px;
                                    border-color: gray;
                                    border-style: solid;
                                    border-radius: 3px;
                                    padding: 20px;
                                    padding-top: 20px;
                                    padding-bottom: 10px;">

                            <div style="border: 1px; border-color: black; display: -webkit-box;">
                                <div class="m-checkbox-list" *ngFor='let item of listItem.loadouts' style="margin-right: 20px;">
                                    <label for="{{item.id}}" class="m-checkbox">
                                        <input id="{{item.id}}" type="checkbox" name="{{item.id}}" [(ngModel)]="item.isChecked">
                                        {{item.itemLocation}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="padding: 0px; padding-top: 15px;">
                        <button [disabled]="saving" type="button" class="btn btn-default" data-dismiss="modal" (click)="changeProductModal.hide()">{{l("Cancel")}}</button>
                        <button [disabled]="!editLoadoutForm.form.valid || saving || selectedProduct.id == undefined" type="submit" class="btn btn-primary">{{l("Save")}}</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>