<div [@routerTransition]>
  <div class="m-subheader">
      <div class="d-flex align-items-center">
          <div class="mr-auto col-md-6">
              <h3 class="m-subheader__title m-subheader__title--separator">
                  <span>{{l("Inventories")}}</span>
              </h3>
              <span class="m-section__sub">
                  Product Summary
              </span>
          </div>
          <!-- <div class="col-md-6 text-right">
            <button (click)="deleteAll()" class="btn btn-outline-danger"><i class="fa fa-trash"></i>
                {{l("Delete All")}}</button>
        </div> -->
      </div>
  </div>
  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">
              <div class="row align-items-center">
                  <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                      <p-table #dataTable (onLazyLoad)="getAllItems($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                          [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [resizableColumns]="primengTableHelper.resizableColumns">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>
                                      {{l('Name')}}
                                  </th>
                                  <th>
                                      {{l('Quantity')}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-record="$implicit">
                              <tr>

                                  <td>
                                      {{record.ProductName}}
                                  </td>
                                  <td>
                                      {{record.Quantity}}
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>
                      <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                          {{l('NoData')}}
                      </div>
                      <div class="primeng-paging-container">
                        <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                            (onPageChange)="getInventories($event)"
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                        </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <createOrEditInventoryModal #createOrEditInventoryModal (modalSave)="getInventories()"></createOrEditInventoryModal>
  <viewInventoryModal #viewInventoryModal></viewInventoryModal>

</div>
